* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ebefd2;
    text-align: center;
  }
  
  h1{
    font-size:xx-large;
    font-weight: 1000;
    width: auto;
    /* background-color:beige; */
  }
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: white;
    background-color: #06e9d2;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .box:active{
    transform: scale(0.96);
  }
  .btn {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    background-image: linear-gradient(rgb(116, 115, 115),black);
    color: #fff;
    border-radius: 1rem;
    border: solid 2px black;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
.btn:active {
  transform: scale(0.96);
}
  #msg {
    color: #04b42a;
    font-size: 10vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  #reset-btn:hover{
    color: yellow;
  }

  #new-btn:hover{
    color: yellow;
  }